@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To My Scripture Journal</p>
    <img src="/images/HollyBook.jpg" alt="Holly Book" />
     
</div>
